.page-section {
	padding: 1.2rem 0;

	@include respond(at800) {
		padding: 4.5rem 0;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	&--testimonials {
		background-color: #e0e6ef;

		@include respond(atLarge) {
			&.lazyloaded {
				background: url("/app/assets/images/testimonials-bg.jpg") top center no-repeat;
				background-size: cover;
			}
		}
	}

	&--no-b-padding-until-medium {
		padding-bottom: 0;

		@include respond(atMedium) {
			padding: 4.5rem 0;

		}
	}
	&--no-b-padding-until-largin {
		padding-bottom: 0;

		@include respond(atLarge) {
			padding: 4.5rem 0;

		}
	}

}
