.primary-nav {
	padding-top: 10px;
	
	@include respond(atMedium){
		padding-top: 0;
	}

	&--pull-right {

		@include respond(atMedium) {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@include clearfix;
	}

	li {
		list-style: none;
		padding-right: 7px;
		padding-top: 12px;
		padding-bottom: 12px;
		display: inline-block;

		@include respond(atMedium) {
			float: left;
			display: block;
			padding-right: 20px;
		}
	}

	li:last-child {
		padding-right: 0;

		@include respond(atMedium) {
			padding-right: 20px;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		font-weight: 400;
		display: block;
		font-size: .8rem;
		padding: 5px 8px;
		background-color: rgba($mainBlue, .5);

		@include respond(atMedium) {
			padding: 0px 0;
			background-color: transparent;
			font-size: 1rem;
			
			
		}
		
		
	}

}
