.section-title {
	font-weight: 300;
	text-align: center;
	font-size: 2.55rem;

	@include respond(atSmall) {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}

	&--blue{
		color: $mainBlue;
	}
	
	&__icon {
		display: block;
		margin: 0 auto .6rem;

		@include respond(atSmall) {
			position: relative;
			top: 9px;
			margin-right: .5rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block;

		}
	}
	
	
}
